<launch>
  <node pkg="rr_viz" type="rr_viz_node.py" name="rr_viz" output="screen" required="true">
    <param name="default_map_name" value="map"/>
    <param name="add_waypoint_topic" value="/initialpose"/>
    <param name="connect_movebase" value="true"/>
    <param name="enable_saving" value="true"/>
    <param name="waypoint_server_name" value="mission_path_srv"/>

    <param name="web_ui_url" value="http://localhost:8000/rr_gui.html"/>




    <param name="move_base_namespace" value="/move_base"/>
    <param name="build_bt_srv" value="/build_bt"/>
  </node>

  <!-- TEST NODES -->
  <node pkg="rr_viz" type="mock_slam_supervisor.py" name="slam_supervisor" output="screen" required="true"/>

  <node pkg="rr_viz" type="mock_move_base.py" name="move_base" output="screen" required="true"/>

  <node pkg="rr_viz" type="mock_build_bt.py" name="bt_builder" output="screen" required="true"/>

  <node pkg="rr_viz" type="mock_robot_pose.py" name="robot_pose" output="screen" required="true"/>

  <node pkg="rr_viz" type="mock_envirobot_interface.py" name="envirobot_Interface" output="screen" required="true"/>

  <node pkg="rr_viz" type="mock_path_recorder.py" name="path_recorder" output="screen" required="true"/>
</launch>
