<launch>
  <arg name="default_map_name" default="map"/>
  <arg name="add_waypoint_topic" default="/initialpose"/>
  <arg name="connect_movebase" default="true"/>
  <arg name="enable_saving" default="true"/>
  <arg name="waypoint_server_name" default="mission_path_srv"/>
  <!-- <arg name="web_ui_url" default="http://192.168.10.100:8000/rr_gui.html/"/> -->
  <arg name="move_base_namespace" default="/move_base"/>
  <arg name="build_bt_srv" default="/build_bt"/>

  <node pkg="rr_viz" type="main_window.py" name="rr_viz" output="screen" required="true">
    <param name="default_map_name" value="$(arg default_map_name)"/>
    <param name="add_waypoint_topic" value="$(arg add_waypoint_topic)"/>
    <param name="connect_movebase" value="$(arg connect_movebase)"/>
    <param name="enable_saving" value="$(arg enable_saving)"/>
    <param name="waypoint_server_name" value="$(arg waypoint_server_name)"/>
    <param name="web_ui_url" value="$(arg web_ui_url)"/>
    <param name="move_base_namespace" value="$(arg move_base_namespace)"/>
    <param name="build_bt_srv" value="$(arg build_bt_srv)"/>

  </node>
</launch>

